.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.chapters{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 15px 0 15px 0;
    width: 50vw;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: rgba(128, 128, 128, 0.007);
}
.legend{
    color: black;
    margin: 10px 0 10px 0;
}
.input{
    color:black;
}
.submit{
    border: none;
    background-color: rgb(116, 116, 116);
    width: 10vw;
    height: 5vh;
    border-radius: 50px;
}
.submit:hover{
    background-color: rgb(83, 82, 82);
}
@media (min-width: 810px) and (max-width: 1080px){
    .submit{
        border: none;
        background-color: rgb(116, 116, 116);
        width: 20vw;
        height: 5vh;
        border-radius: 50px;
    }

}
@media (min-width: 412px) and (max-width: 1080px){
    .submit{
        border: none;
        background-color: rgb(116, 116, 116);
        width: 30vw;
        height: 5vh;
        border-radius: 50px;
    }

}