.container-form-editchapter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 3rem 0;
    border: solid red;
    height: 100vh;
    margin-top: 7rem;
}

.container-nav-edit-chapter{
    border: solid red;
}