.my-comics-container{
    
    height: 30vh;
    display: flex;
    width: 100vw;
    justify-content: center;
}

.title-my-comics{
    color: black;
    margin-top: 7vh ; 
}
.button-container{
    
    height: 30vh;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.button-card{
    background-color: rgb(247, 252, 252);
    width: 30vw;
    height: 10vh;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.submit-1{
    color: rgb(122, 255, 222);
    font-size: 1.8vw;
   
}
.logos{
    color: black;
    height: 7vh;
}
.container-info-card-button{
    
    display: flex;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
@media (min-width: 810px) and (max-width: 1080px){
    .submit-1{
        color: rgb(122, 255, 222);
        font-size: 3vw;
       
    }
    .container-info-card-button{
    
        display: flex;
        width: 25vw;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
    }
}
@media (min-width: 412px) and (max-width: 810px){
    .submit-1{
        color: rgb(122, 255, 222);
        font-size: 3vw;
       
    }
    .container-info-card-button{
    
        display: flex;
        width: 50vw;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
    }
    .logos{
        color: black;
        height: 5vh;
    }
}