.editContent{
    display: flex;
    justify-content: center;
}

.profileImage{
    margin-top: 5rem;
    object-fit: contain;
    height: 30vh;
    border-radius: 50%;
}
.contentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.formProfile{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.inputProfile{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: grey 1px solid;
    color: black;
}
.inputSend{
    width: 35%;
    height: 7vh;
    background-color: #34D399;
    border-radius: 50000px;
    text-align: center;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.inputSend:hover{
    background-color: #279c71;
}
.deleteButton{
    width: 14%;
    height: 7vh;
    border-radius: 50000px;
    text-align: center;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: #FBDDDC;
    color: #EE8380;;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.deleteButton:hover{
    background-color: #f5b6b4;
}
.noEdit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
@media (min-width: 320px) and (max-width: 425px){
    .profileImage{
        height: 100%;
        width: 20vw;
        border-radius: 50%;
    }
    .inputProfile{
        width: 100%;
    }
    .formProfile{
        width: 70%;
    }
}
@media (min-widht: 768px) and (max-width: 1440px){

}