.card{
    height: 40vh;
    display: flex;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem 0 0;
    
}

.divCard{
    height: 100%;
    width: 35%;
    
    border-radius: 60px 20px 5px;
    display: flex;
    align-items: center;
    
   
}

.tittleCard{
    color: black;
}

.imagen-card{
    height:100% ;
    width: 100%;
    border-radius: 130px 20px 20px 130px;
}
.textCard{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 2vh;
    font-size: 1.2em;
}
.categoryText{
    font-size: 1rem;
    color: rgb(211, 106, 106);
}
.rectangle{
    background-color: rgb(211, 106, 106);
    width: 1rem;
    height: 30vh;

}
.tittleCard{
    color: black;
}
@media (min-width:412px) and (max-width:1000px){
    .card{
        height: 20vh;
        width: 80vw;
        display: flex;
        background-color: rgb(247, 247, 247);
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        
    }
    .divCard{
        height: 100%;
        width: 75%;
        
        border-radius: 60px 20px 5px;
        display: flex;
        align-items: center;
        
       
    }
    .rectangle{
        background-color: rgb(211, 106, 106);
        width: 1rem;
        height: 65%;
    
    }
    .textCard{
        
        width: 60%;
        font-size: 0.7em;
        display: flex;
        justify-content: left;
        padding: 1rem;

    }
    .tittleCard{
        color: black;
        
        width: 10rem;
        display: flex;
        

    }

}