.all-buttons{
    
    display: flex;
    width: 70vw;
    height: 6vh;
    justify-content: space-between;
}
.button1{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(221, 190, 149);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:  rgb(170, 106, 22);
}
.button2{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(200, 223, 158);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:  rgb(118, 160, 41);
}
.button3{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(157, 217, 219);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:  rgb(41, 159, 163);
}
.button4{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(161, 176, 219);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:   rgb(47, 82, 177);
}
.button5{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(226, 171, 219);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:    rgb(168, 57, 153);
}
.button6{
    width: 5vw;
    border-radius: 1rem;
    background-color: rgb(224, 164, 167);
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color:     rgb(180, 62, 68)
}
@media (min-width:412px) and (max-width:1000px){
    .all-buttons{
        
        display: flex;
        width: 100%;
        height: 4vh;
        justify-content: space-around;
    }
    .button1{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(221, 190, 149);
        border: none;
        font-size: 80%;
        font-weight: 600;
        color:  rgb(170, 106, 22);
    }
    .button2{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(200, 223, 158);
        border: none;
        font-size: 80%;
        font-weight: 600;
        color:  rgb(118, 160, 41);
    }
    .button3{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(157, 217, 219);
        border: none;
        font-size: 80%;
        font-weight: 600;
        color:  rgb(41, 159, 163);
    }
    .button4{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(161, 176, 219);
        border: none;
        font-size: 80%;
        font-weight: 600;
        color:   rgb(47, 82, 177);
    }
    .button5{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(226, 171, 219);
        border: none;
        font-size: 70%;
        font-weight: 600;
        color:    rgb(168, 57, 153);
    }
    .button6{
        width: 14%;
        border-radius: 1rem;
        background-color: rgb(224, 164, 167);
        border: none;
        font-size: 80%;
        font-weight: 600;
        color:     rgb(180, 62, 68)
    }
  }