.contenedor.open{
    background-color: #4338ca;
    position:absolute;
  width: 100vw;
  height: 150vh;
  z-index: 10;
}
.otracosa{
    display: none;
}

.otracosa.open{
    display: inline;
}

.navbar{
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.imgNav{
    height: 70px;
    width: 70px;
    object-fit: contain;
}
.nav_logo{
    font-weight: bold;
    font-size: 20px;
    margin: 15px;
   
}
.nav_items{
    display: flex;

}
.nav_items a{
    text-align: center;
color: white;
font-family: Georgia, serif;
font-size: 20px;
letter-spacing: 0;
text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
    display: flex;
    margin: 10px;
    position: relative;
    text-decoration: none;
}
.nav_toggle{
    display: none;
}

@media (max-width: 764px) {
    .nav_items a{
    }
        .nav_items{
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: -webkit-fill-available;        
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }
    .nav_items{
    }
    .nav_items.open{
        transform: translateX(0) !important;
    }
    .nav_toggle{
        display: flex !important;
        flex-direction: column;                

    }
    .nav_toggle p{
        width: 30px;
        height: 8px;
        background-color: #4338ca;
        margin-bottom: 5px;
        border: 1px solid black;             
        transform-origin: 0px 0px;
        transition: all 0.2s linear;
    }
    .nav_toggle.open > p{
        transform: rotate(2deg) translate(0px, 0px);
        background-color: white;
    }
    .nav_toggle.open > p:nth-child(2){

        display: none;
    }
    .nav_toggle.open > p:nth-child(3){

        transform: rotate(-20deg) translate(0px, 1px);
    }
    .nav_toggle.open{

    }
    .navbar.open{
        background-color: #4338ca;
    }
  
}