

.imgLogo{
    height: 40px;
}

nav {
    height: 20vh;
    position: absolute;
    opacity: 1;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menuButton{
    z-index: 11;
    margin-top: 1%;
    background-color: #4338ca;
    height: 30%;
    width: 10%;
    border: 0;
    border-radius: 8px 8px 8px;
    font-size: 18px;
  }
  .menuButton:hover{
    background-color: #302794;
  }
.navItems {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;
    align-items: center;
    border-radius: 15px;
  }

.buton{
    height: 50px;
}


.login-button{
    margin-top: 1%;
    height: 30%;
    display: flex;
    align-items: center;
}