*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.imgLogo{
    height: 40px;
    padding-top: 0.5rem;
    box-sizing: content-box;
}

nav {
    height: 20vh;
    position: absolute;
    opacity: 1;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.menuButton{
    z-index: 11;
    margin-top: 1%;
    background-color: #4338ca;
    height: 30%;
    width: 10%;
    border: 0;
    border-radius: 8px 8px 8px;
    font-size: 18px;
  }
  .menuButton:hover{
    background-color: #302794;
  }
.navItems {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

.buton{
    height: 50px;
}


.login-button{
    margin-top: 1%;
    height: 30%;
    display: flex;
    align-items: center;
}
.activo{
  padding-top: 7%;
}
.items{
  margin: 5px;
  font-weight: bolder;
}
.items:hover{
  color: rgb(189, 189, 189);
}

@media (min-width: 320px) and (max-width: 767px){
  nav{
    justify-content: space-around;
    align-items: flex-start;
  }
  .menuButton{
    width: 25%;
  }
  .imgLogo{
    padding-top: 5%;
  }
  .activo{
    padding: 0;
    justify-content: center;
  }
  .navItems{
    margin-top: 15%;
    width: 25%;
  }
  .items{
    margin: 5px;
    font-weight: bold;
  }
  .items:hover{
    color: rgb(189, 189, 189);
  }
}