*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: #EBEBEB;
    height: 12vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
h2{
    color: #ffffff;
    text-align: center;
color: white;
font-family: Georgia, serif;
font-size: 22px;
letter-spacing: 0;
text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
   /*  margin-top: 96px; */

}
.titulo{
    color: #ffffff;
}

.titleContainer {
    background-color:#4338CA;
    height: 10vh;
    margin-bottom: 20px;
    color: #d74141;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.comicPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.commentContainer {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    z-index: 100;
    gap: 10px;
}

.leftButton {
    position: absolute;

    left: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.rightButton {
    position: absolute;

    right: 0;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.Nav{
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    background-color:#EBEBEB
}
.imgnav{
height: 100px;
width: 100px;
object-fit: contain;
}

.menuBut{
    z-index: 11;
    margin-top: 1%;
    background-color: #4338ca;
    height: 30%;
    width: 13%;
    border: 0;
    border-radius: 8px 8px 8px;
    font-size: 18px;
}

.login-button{
    margin-top: 1%;
    height: 30%;
    display: flex;
    align-items: center;
}

.anchorContain{
    display: flex;
    gap: 60px
}

.anchor {
    color: black;
    font-size: 22px;
}
/* .back{
    background-color: black;
    color: white;
    width: 50px;
   text-align: center;
   height: 50px;

} */

.back{
    display: flex;
    align-items: center;
    color: black;

}

.imgBack{
    height: 50px ;
    width: 50px; 
}

.puntos{
    height: 50px;
    width: 50px;
}
.pcomments{
    font-size: 20px;
}

.imagePage{
    height: 600px;
    object-fit: contain;
}

@media (max-width: 680px) {
    .imagePage{
        object-fit: fill;
        height: 500px; 
    }
   .commentContainer{
    height: 10vh;
   }


}