*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainAdmin{
    width: 100%;
}
.bgmain{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/assets/backAdmin.jfif");
    background-position: center;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.containH1P{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 500vh;
}

.h1Admin{
    font-size: 65px;
}

.padmin{
    font-size: 20px;
}

.container2{
    position: absolute;
    background-color: white;
    top: 500px;
    height: 100vh;
    width: 80vw;
    border-radius: 20px;
}

.h2contain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 20vh;
}

.h2Admin{
    color: #4338CA;
    font-size: 35px;
    text-decoration: 8px underline;
}

.tableContain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    color: black;
}

table , td, th {
	border: 1px solid #000000;
	border-collapse: collapse;
}
td, th {
    color: black;
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}