.card{
    height: 40vh;
    display: flex;
    background-color: rgb(247, 247, 247);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem 0 0;
    
}
.swal2-styled.swal2-confirm{
    color: red;
}
.butonDelete, .butonEdit {
    color: black;
    border-radius: 30px;
    margin: 20px;
    font-size: 20px;
    width: 9vw;
    height: 9vh;
    border:none
}
.butonEdit{
background-color: #E0DBFF;
color: #8883F0;

}

.butonDelete{
    background-color: #FBDDDC;
    color: #EE8380;
}

.butonEdit:hover{
    filter: opacity(.5);
}

.butonDelete:hover{
    filter: opacity(.5);
}


.divCard{
    height: 100%;
    width: 35%;
    
    border-radius: 60px 20px 5px;
    display: flex;
    align-items: center;
    
   
}


.imagen-card{
    height:100% ;
    width: 100%;
    border-radius: 130px 20px 20px 130px;
}
.textCard{
    
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
    margin-bottom: 2vh;
    font-size: 1.2em;
}
.categoryText{
    font-size: 1.5rem;

    color: rgb(211, 106, 106);
}
.rectangle{
    background-color: rgb(211, 106, 106);
    width: 1rem;
    height: 30vh;

}
.tittleCard{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 10px 0;
    font-weight: lighter;

}
@media (max-width:588px){
    .card{
        height: 20vh;
        width: 70vw;
        display: flex;
        background-color: rgb(247, 247, 247);
        border-radius: 20px;
        justify-content: space-between;
        align-items: center;
        
    }
    .divCard{
        width: 80%;
    
        
       
    }
    .rectangle{
        background-color: rgb(211, 106, 106);
        width: 1rem;
        height: 65%;
    
    }
    .textCard{        
        width: 60%;
        font-size: 0.6em;
        display: flex;
        justify-content: left;
        padding: 1rem;

    }
    .tittleCard{
        font-size: 19px;
        margin: 0;
        font-weight: lighter;
        

    }
    .categoryText{
        font-size: 1rem;
        color: rgb(211, 106, 106);
        margin: 0;
    }
    
    .butonDelete, .butonEdit{
        margin: 0 3px;
        padding: 0px;


        font-size: 15px;
        width: 10vw;
        height: 5vh;

    }

}