*{
  box-sizing: border-box;
}

.headerContain{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
 /*  justify-content: center; */
}
.button-started {
  padding: 0.6rem 1rem;
  background-color: #4338ca;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 3s ease-in-out;
  -webkit-transition: 3s ease-in-out;
  -moz-transition: 3s ease-in-out;
  -ms-transition: 3s ease-in-out;
  -o-transition: 3s ease-in-out;
  margin: 20px 0;
}
.spanHeader{
  margin-top: 150px;}
h1{
  margin-bottom: 15px;
}
  .login-button {
    border: 1px solid #fff;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: small;
  }

   .mainn{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
  } 

  .main-b{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/assets/imagen15.png");
    background-position: center;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 500vh;
  }

  .search-text-input{
    display: none;
    padding: 0px 0px 0px 80px ;
    margin: 10px 0;
    border: 2px solid #eee;
    border-radius:30px;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    ;
    color: black;
    
  }
  ::placeholder { 
    color: rgb(95, 95, 95);
    
  }
 .comics-containerr{
  height: 520vh;
  width: 95vw;
  background-color: rgb(202, 202, 202);
  border-radius: 100px;
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
 }
 .explore-container{
  
  width: 77%;
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
 }

 .ranges-container{
  
  height: 50rem;
  width: 80vw;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
 }
 .ranges-1{
  
  height: 100%;
  width: 19vw;
  border-radius: 1rem;
  background-image:  linear-gradient(rgba(94, 94, 255, 0.459), rgba(94, 94, 255, 0.459)), url('/public/assets/hunterxhunter.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(94, 94, 255, 0.459);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 1.5em;
 }
 .ranges-2{
  
  height: 100%;
  width: 19vw;
  border-radius: 1rem;
  background-image:  linear-gradient(rgba(170, 94, 94, 0.774), rgba(170, 94, 94, 0.774)), url('/public/assets/dragonball.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(170, 94, 94, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 1.5em;
 }
 .ranges-3{
  
  height: 100%;
  width: 19vw;
  border-radius: 1rem;
  background-image:  linear-gradient(rgba(170, 94, 136, 0.774), rgba(170, 94, 136, 0.774)), url('/public/assets/onepiece.png');
  background-position: center;
  background-size: cover;
  background-color: rgba(170, 94, 136, 0.774);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 1.5em;
 }
 .categories-container{
  
  height: 5rem;
  width: 80vw;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
 }
 .container-cards{
  
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
 }
 .container-button{
  
  width: 30vw;
  height: 5rem;
  display: flex;
  justify-content: space-around;

 }

.nav{
  width: 100%;
 
}

 .botonnextprev{
  width: 5rem;
  background-color:#a8a8a8;;
  border-radius: 10rem;
  height: 2rem;
  border: none;
 }

  @media (min-width:412px) and (max-width:1000px){
    .categories-container{
  
      height: 5rem;
      width: 98vw;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
    }
    .spanHeader{
      margin-top: 180px;
    }
    .ranges-container{
      
      height: 10rem;
      width: 100vw;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
     }
     .ranges-1{
  
      height: 10vh;
      width: 25%;
      border-radius: 1rem;
      background-color: rgba(94, 94, 255, 0.459);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      font-size: 87%;
     }
     .ranges-2{
      
      height: 10vh;
      width: 25%;
      border-radius: 1rem;
      background-color: rgba(170, 94, 94, 0.774);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      font-size: 87%
     }
     .ranges-3{
      
      height: 10vh;
      width: 25%;
      border-radius: 1rem;
      background-color: rgba(170, 94, 136, 0.774);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      font-size: 87%
     }
     .explore-container{
      
      width: 77%;
      margin-top: 1rem;
      padding: 1rem;
      display: flex;
     }
     
     .comics-containerr{
      width: 95vw;
      background-color: rgb(202, 202, 202);
      border-radius: 50px;
      position: relative;
      top: -100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;
      
     }
     .container-cards{
  
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
     }
  }

  @media (max-width:440px) {
    .spanHeader{
      margin-top: 180px;
     

    }
    h1{
      font-size: 20px;
    }
    .pHeader{
      font-size: 15px;
    }
    
  }