.titlechapter{

    width: 100%;
    text-align: center;
    color: black;
    
    
}
.chaptercontent{
    color:black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    display: flex;
    align-items: center;
    height: 14vh;
    width: 40vw;
    margin: 10px;
}
.content{
    display: flex;
    scroll-behavior: smooth;
}
.imagecard{
    height: 12vh;
    width: 9vw;
    margin-left: 1rem;
}
.anchorcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.anchor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4338ca;
    margin-right: 1rem;
    border-radius: 2rem;
    width: 7vw;
    height: 5vh;
    text-align: center;
    transition: 0.6s ease;
}
.anchor:hover{
    background-color: #2c2488;
}
.nextbtn{
    background-color: #a8a8a8;
    cursor: pointer;
    border: none;
    width: 8vw;
    height: 5vh;
    border-radius: 1rem;
    transition: 0.8s ease;
}
.nextbtn:hover{
    background-color: #868686;
}
.pagination{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.sorrycontent{
    display: flex;
    align-items: center;
    height: 25vh;
}
.sorry{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (min-width: 320px) and (max-width: 768px){
    .chaptercontent{
        width: 80vw;
    }
    .titlechapter{
        font-size: 0.75rem;
    }
    .anchor{
        width: 15vw;
    }
    .nextbtn{
        width: 20vw;
    }
    .imagecard{
        width: 20%;
    }
}
@media (min-width: 1440px) and (max-width: 2560px){
    .chaptercontent{
        width: 40vw;
        height: 15vh;
    }
    .title{
        font-size: 2rem;
    }
    .imagecard{
        height: 10vh;
    }
}