.formComments{
    background-color: rgba(188, 237, 220, 0.476);
    color: black;
}

.labelComments{
color: black;
}

.textareaComments{
color: black;
}

.inputComments{
color: black;
}

.divComments{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    
    

}

.photoComment{
    height: 75px;
    width:75px;
    object-fit:fill;
    border-radius: 50%;
    border:1px black solid;
    margin: 10px;
}

.pComment{
    color: black;
    margin: 20px;}

h3{
    color: black;
}

.commentary{
    border: 1 solid black;
    background-color: rgba(117, 229, 249, 0.446);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
}

.imgconversacion{
    height: 30px;
    object-fit: contain;
}

.commentfooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.commentimgcom{
    display: flex;
    gap: 5px;
    margin: 0 15px;
    align-items: center;
}

.butonComment{
    border-radius: 10px;
    height: 50px;
    width: 80px;
    background-color: white;
    color: rgb(83, 175, 240)
}

.pdate{
    color: rgb(43, 25, 2);
    font-size: 10px;
}