.headerContain{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
 /*  justify-content: center; */
}
.button-started {
  padding: 0.6rem 1rem;
  background-color: #4338ca;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 3s ease-in-out;
  -webkit-transition: 3s ease-in-out;
  -moz-transition: 3s ease-in-out;
  -ms-transition: 3s ease-in-out;
  -o-transition: 3s ease-in-out;
  margin: 20px 0;
}
.spanHeader{
  margin-top: 150px;}
h1{
  margin-bottom: 15px;
}
  .login-button {
    border: 1px solid #fff;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: small;
  }

 

  @media (min-width:440px) and (max-width:692px){
    .spanHeader{
      margin-top: 180px;
    }
  }

  @media (max-width:440px) {
    .spanHeader{
      margin-top: 180px;
     

    }
    h1{
      font-size: 20px;
    }
    .pHeader{
      font-size: 15px;
    }
  }