footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: url(../../../public/assets/foot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
}
.background-footer{

    height: 40vh;
}
.footer1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 15vh;
}
.footer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 20vh;
}
.footer3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 20vh;
}
.input{
    height: 7vh;
} 
.subs{
    font-size: 27px;
    font-weight: bold;
    color: black;
}
.submit{
    height: 7vh;
    background-color: #4338ca;
    border: none;
    width: 5vw;
}
.info{
    color: black;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.links{
    justify-content: space-evenly;
    display: flex;
    width: 50%;
}
.logos{
    color: black;
    height: 4vh;
}
.image{
    height: 3vh;
}
.pFooter{
    margin-top: 10px;
    color: gray;
}

.anchorFooter{
    color: black;
}
@media (min-width: 320px) and (max-width: 767px){
    .input{
        font-size: 10px;
        width: 50%;
    }
    .submit{
        width: 30%;
    }
    .footer1{
        display: flex;
    }
    .subs{
        width: 50%;
        text-align: center;
    }
    .inputdiv{
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .anchorFooter{
        font-size: 13px;
    }
    .footer3{
    display: flex;
    
    }
    .copyright{
        width: 50%;
    }
    .pCopyright{
        text-align: center;
    }
    .terms{
        width: 50%;
    }
    .pFooter{
        text-align: center;
    }
}