footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: url(../../../public/assets/foot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: content-box;
}
.background-footer{

    height: 40vh;
}
.footer1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 15vh;
}
.footer2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 40vh;
}
.footer3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 20vh;
}
.input{
    height: 7vh;
} 
.subs{
    font-size: 27px;
    font-weight: bold;
    color: black;
}
.submit{
    height: 7vh;
    background-color: #4338ca;
    border: none;
    width: 5vw;
}
.info{
    color: black;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.links{
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.logos{
    
    color: black;
    height: 4vh;
    object-fit: contain;
}
.logosLinks{
    display: flex;
    justify-content: center;
}
.donationBtn{
    display: flex;
    justify-content: center;
}
.donation{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4338CA;
    height: 6vh;
    width: 10vw;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
.donation:hover{
    background-color: #322997;
    transition: 0.4s;
}
.donationContainer{
    display: flex;
    justify-content: center;
}
.corazon{
    font-size: 18px;
    margin-left: 5px;
    color: white;
}
.image{
    height: 3vh;
}
.pFooter{
    margin-top: 10px;
    color: gray;
}

.anchorFooter{
    color: black;
}
.footer-links{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    font-weight: 700;
}
@media (min-width: 320px) and (max-width: 767px){
    .input{
        font-size: 10px;
        width: 50%;
    }
    .submit{
        width: 30%;
    }
    .footer1{
        display: flex;
    }
    .subs{
        width: 50%;
        text-align: center;
    }
    .inputdiv{
        width: 50%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    .anchorFooter{
        font-size: 13px;
    }
    .footer3{
    display: flex;
    
    }
    .copyright{
        width: 50%;
    }
    .pCopyright{
        text-align: center;
    }
    .terms{
        width: 50%;
    }
    .pFooter{
        text-align: center;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .footer-links{
        text-align: center;
    }
    .donation{
        width: 70%;
    }
}